@charset "utf-8";
/* CSS Document */

tr {background-color: #efefef;}
tr:hover {background-color: #dedede;}

* { margin: 0; padding: 0; }

body {
    background: #F6F9FE;
    color: #69B1D9;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

form { margin: 20px; }
fieldset { border: none; }
legend { font-size: 16px; font-weight: bold; }
fieldset fieldset legend {
    font-size: 12px;	
    font-weight: bold;
    padding: 5px 0;
}

ul li { list-style: none; margin: 20px 10px; }
A questo punto possiamo iniziare ad assegnare dello stile ai singoli elementi.

input, textarea, select {
    border: 1px solid #C6CFE2;
    background: #F7FBFE;
    padding: 2px;
}
label {
    padding: 2px;
    width: 80px;
    display: block;
    float: left;
    font-weight: bold;
}
fieldset fieldset label {
    margin-left: 50px;
    width: 30px;
}
fieldset fieldset input {
    border: none;
    float: left;
    margin: 0 20px 0 15px;
}

#submit {
    background: #69B1D9;
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
}